img{border:0;}

body{
	background-image:url("../images/M.jpg");}

.container{
	width:80%;
	max-width:1260px;
	min-width:780px;
	margin:0 auto;
}


header{
	background-color:  #669999;
width:100%;
height:200px;
font-size:75px;
text-align:center;
}
h2:first-letter {
	font-family: italic;
	font-size:50px;
	color: #950000;
}

	
table, th, td {
  border: 1px solid black;
  text-align:center;
    
}
table{
	width:30%;
	background-color: gray; 
}

th, td {
  padding: 5px;
  text-align: center;
  text-shadow: 2px 2px #FF0000;
  
}
ol{
	list-style-type:lower-roman;
	list-style-type:lower-alpha;
	background-color:gray;
	width:30%;
	margin-left:33%;
	color:blue;
	
	
}
.img-logo1{
	height:50px;
	width:50px;
	
	
}


.image1 {
	height: 90px;
	float: left;
	padding-top: 30px;
}
.image2 {
	height: 90px;
	float: right;
	padding-top: 30px;
	
}



nav{
background-color:#0073e6;
text-align:justify;
width:20%;
height:800px;
float:left;
font-size:30px;}


section{
	background-color:#D8D7D4;
width:80%;
height:800px;
float:left;
font-size:20px;
text-align:center;}

.myimg {
	height: 250px;
}
.myimg4{
height:250px;	
}

footer {	
	background-color:#000000;
	width:100%;
	height:50px;
	font-size:20px;
	text-align:left;
	clear:left;
}
p{
	color:#ffffff;
}
.icon
{
	text-align:center;
	
	transform:rotate(7deg);
	
}

.video {
	height:462px;
	width:820px;
	border: 2px solid black;
}


article {
	 border-width:10px;  
    border-style:inset;
	height:675px;
	overflow: auto;
	
}
table.center{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
